p {
	margin: 0;
}

body {
	background-color: #EBEDF0;

}

#body {
	font-size: 10px;
}

.decline{
	background-color:red;
}
.accepted{
	background-color:green;
}

.beelogo{
	height:4vh;
	width:4vh;
	margin-left:1vw;
}
.foreback{
	background-color:rgba(221, 220, 220, 0);
	height:100%;	
	padding:2vh;
	padding-top:2vh;
	margin:auto;


}
.background{
	background-color:rgb(230, 228, 228);
	/*background-image: url("../images/1.svg"); */

	min-height: 500px;

	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;	

}

#size {
	font-size: 10px;
	display: none;
}

.login {
	Margin: auto;
	Height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register {
	Margin: auto;
	Height: 100vh;
	justify-content: center;
	align-items: center;
}

.small {
	font-size: 18px;
}

.medium {
	font-size: 24px;
}

.large {
	font-size: 28px;
}

.mainfeed {
	margin: auto;
	margin-top: 0vh;
}

.createPost {
	float: right;
	margin-top: 1vh;
}

.postcard {
	background-color: rgb(152, 152, 219);
	border-style: solid;
	border-width: 1px;
	margin: 2vh;
	padding: 2vh;
}

.post {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	border-color: rgb(184, 184, 184);
	margin: 2vh;
	padding: 2vh;
	box-shadow: 0 1px 2px #3f3f3f;
}
.chatroom{
	margin:auto;
}

.postinteract {
	text-align: center;
	border-style:solid;
	border-radius: 1000px;
	border-width:0px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;

}
.postinteract:hover {
	text-align: center;
	border-style:solid;
	border-radius: 1000px;
	border-width:0px;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.postinteract:target {
	text-align: center;
	border-style:solid;
	border-radius: 1000px;
	border-width:0px;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.postinteracttop {
	text-align: center;
}

.profile {

	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	object-fit: cover;
    object-position: 20% 20%;
    height: 95%;
    width:95%;
    margin: 5px 0px 0px 0px;
    border-style:solid;
    border-width:1px;
    border-color:white;
	
}
.propic{
	position:relative;
	display:flex;
	height:25vh;
	width:18vw;
}

.flex{
	display:flex;
}

.profPicaccount {
	object-fit: cover;
    object-position: 20% 20%;
    height: 90%;

    margin: 5px 0px 0px 0px;
    border-style:solid;
    border-width:1px;
    border-color:white;
	border-radius:12px;
	box-shadow: 1px 1px 3px;
}
.paddingchat{
	padding-top:10px;
}
.profPicfriend {
	object-fit: cover;
    object-position: 20% 20%;
    height: 70%;
    width:60%;
    margin: 5px 0px 0px 0px;
    border-style:solid;
    border-width:1px;
    border-color:white;
	border-radius:12px;
	box-shadow: 1px 1px 3px;
}

.editprofileoptions{
	margin:auto;
}

.profileDetails {
	margin-top: 3vh;
}
.profilemain{
	background-color:rgb(152, 152, 219);
	border-radius:10px;
	padding-left:2vw;
	padding-top:2vh;
	padding-bottom:2vh;
	padding-right:2vw;
	box-shadow:2px 2px 8px;
}
.profileFriends {
	
	background-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 1px;
	height:12vh;
	width:100%;
	display: inline-block;
	box-shadow: 1px 1px 3px;
	text-align:center;
}
.friendinner{
	padding:1vw;
}
a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #5a5a5a;
	text-decoration: none;
	cursor: pointer;
}

.post {
	width: 100%;
	margin: 2vh 0 2vh 0;
}

.content {
	padding: 2vh;
}

.details {
	padding: 0px;
	margin: 0px;
}

.searchbar {
	float: right;
}

.navbar-nav {
	width: 100%;
}

.hidden {
	display: none;
}

#wrapper {
	width: 75%;
	height: 75%;
}

.minimize {
	color: red;
	width: 20VW;
	height: 3vh;
	background: #474747;
	position: fixed;
	float: right;
	bottom: 0px;
	right: 0px;
}

.maximize {
	color: blue;
	width: 20VW;
	height: 50%;
	background: #ccc;
	position: fixed;
	float: right;
	bottom: 0px;
	right: 0px;
}

.friendList {
	list-style-type: none;
	padding: 0;

}

.acceptbtn{
	border-radius:15px;
	border-style:solid;
	padding:3px;
	border-color:Green;
	Background-color:rgb(149, 255, 149);
	width: min-content;
	margin:auto;
	
}
#friendfind {
	text-align: center;
}

.viewfriends {
	color: White;

}

.Friend {
	margin: auto;
	padding: 0;
	width: 100%;
	height: auto;
	background-color: #bed7fd;
	border-style: solid;
	border-width: 0.5px;
	border-radius:5px;
	border-color: grey;
	margin-top:2px;
	margin-bottom:2px;
	box-shadow:1px 1px 2px;
}

.offline {
	float: left;
	z-index: -1;
	color: red;
}

.online {
	float: left;
	z-index: -1;
	color: green;
}

.friends {
	max-height: 50vh;
	overflow-y: scroll;
}

.right {
	text-align: right;
}

.messageboard {
	height: 75vh;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.pulsate {
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.5;
}

@-webkit-keyframes pulsate {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1.0;
	}

	100% {
		opacity: 0.5;
	}
}
.searchbarmob{
	display:none;
}
.message {
	background-color: rgb(224, 224, 224);
	margin-top: 1vh;
}

#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#customers td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px;

}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;

	background-color: #a3a3a3;
	color: white;
}

#talk {
	background-color: blue;
	color: white;
}

.white {
	color: white;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.name {
	position: relative;
}

.post {
	position: relative;
}
.comment img{
	width: 45px;
	height: 45px;
	position: absolute;
	top: 10px;
	left: 10px;
}
/* added a duplicate delete under a seperate name to prevent click even listener triggering */
.remove {
	color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align:right;
	width:min-content;
}
.delete, .deletepost{
	color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align:right;
	width:min-content;
}

.deletebox{
	width:300px;
	border-style:solid;
	border-width:1px;
	background-color:rgb(250, 147, 147);
	position:absolute;
	bottom:0px;
	
}
.deletetextbox
{
	width:100%;
}
ul{
	margin:0;
	padding:0;
}
.line{
	height:2px;
	background-color:black;
	width:15px;
	position:absolute;
	top:10px;
	right:10px;

}
.date{
	font-size: 70%;
}
.posttop{
	position: relative;
	top: 50%;

}
.wrap{
	position:relative;
}
.profile{
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0px;
	left: 5px;
}

.acontrastlink{
	color:rgb(255, 230, 0);
	display:block;
}
@media only screen and (max-width: 1750px) { 
	.maximize, .minimize{
		width:20vw;
	}
	.pic{
		height:min-content;
	}


}

@media only screen and (max-width: 1400px) { 
	.maximize, .minimize{
		width:30vw;
	}
	.pic{
		height:min-content;
	}


}


@media only screen and (max-width: 1200px) { 
	.maximize, .minimize{
		width:40vw;
	}
	.pic{
		height:min-content;
	}
	.commentdetails, .postdetails{
		padding-left:20px;
	}


}
@media only screen and (max-width: 1100px) { 

	.commentdetails, .postdetails{
		padding-left:30px;
	}
	.foreback{	
		padding:0vh;	
	}
	.details{
		padding-left:10px;
	}


}
@media only screen and (max-width: 991px) { 

	#searchbarmob{
		display:block !important;
	}

	#searchbar{
		display:none !important;
	}


}

@media only screen and (max-width: 767px) { 

	.commentdetails, .postdetails{
		padding-left:0px;
	}
	.chatroom{
		padding-left:5vw;
		padding-right:5vw;
	}


}

@media only screen and (max-width: 600px) { 
	.maximize, .minimize{
		width:100vw;
	}
	.pic{
		height:min-content;
	}
	.commentdetails, .postdetails{
		padding-left:20px;
	}


}
