p{
    margin:0;
}
body{
    background-color:#EBEDF0;
}
.login{
    Margin:auto;
    Height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.register{
    Margin:auto;
    Height:100vh;
    justify-content: center;
    align-items: center;    
}
.small{
    font-size:18px;
}
.medium{
    font-size:24px;
}
.large{
    font-size:28px;
}
.mainfeed{
    margin:auto;
    margin-top:10vh;
}

.createPost{
    float:right;
    margin-top:1vh;
}

.postcard{
    background-color:antiquewhite;
    border-style:solid;
    border-width:1px;
    margin:2vh;
    padding:2vh;
}
.post{
    background-color:#ffffff;
    border-style:solid;
    border-width:1px;
    border-radius: 7px;
    border-color: rgb(184, 184, 184);
    margin:2vh;
    padding:2vh;
    box-shadow: 0 1px 2px #3f3f3f;
}
.postinteract{
    text-align:center;
    border-top: 1px solid red;
}
.postinteracttop{
    text-align:center;
}

.profile{
    width:5vh;
    height:5vh;
    border-radius:50%;
    border-style:solid;
    border-width:1px;
}
.profPic{
    max-height:15vh;
    max-width:15vh;
    width:100%;
}
.profileContent{
    margin:3vh;
}
.profileOptions{
    margin-bottom:3vh;
}
.profileDetails{
    margin-top:3vh;
}
.profileFriends{
    display:inline-block;
    background-color:rgb(255, 255, 255);
    border-style:solid;
    border-width:1px;
    padding:2vh;

}
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#5a5a5a; 
    text-decoration:none; 
    cursor:pointer;  
}
.post{
   width:100%;
   margin:2vh 0 2vh 0;
}
.content{
    padding:2vh;
}
.details{
    padding:0px;
    margin:0px;
}
.searchbar{
    float:right;
}
.navbar-nav{
    width:100%;
}